

* {
    box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	outline: none!important;
}


.subtitle p{
	color: black !important;
}

html {
	-webkit-text-size-adjust: 100%;

	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'MontRegular', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6em;
	color: #1C2157;
	margin: 0;
	padding: 0;
	background: #000014;
	background: -moz-linear-gradient(left,  #000014 0%, #090b3c 55%, #1c2157 100%);
	background: -webkit-linear-gradient(left,  #000014 0%,#090b3c 55%,#1c2157 100%);
	background: linear-gradient(to right,  #000014 0%,#090b3c 55%,#1c2157 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000014', endColorstr='#1c2157',GradientType=1 );
}

body.logged-in.admin-bar, 
body.logged-in.admin-bar header {
	margin-top: 32px;
}



header, section, article, footer {
	display: block;
}

img, td {
	border: none;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignleft {
    float: left;
	margin-right: 30px;
}

img.alignright {
    float: right;
	margin-left: 30px;
}

img.aligncenter {
    display: block;
  	margin: 0 auto;
}

img.small {
    max-width: 100px;
	max-height: 100px;
	height: auto;
	width: auto;
}

img.medium {
    max-width: 200px;
	max-height: 200px;
	height: auto;
	width: auto;
}

img.rund {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.clear {
	clear: both;
	float: none;
}

.clear-mobile {
  display: none;
	clear: both;
	float: none;
}

.small {
	font-size: 75%;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.alignright a.action-button {
	float: right;
}

.inline-block {
  display: inline-block;
}

a {
	color: #1C2157;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.home a {
	color: #C6D8F1;
}

.home a:hover {
	color: #fff;
}


a:hover {
	color: #1C2157;
	text-decoration: none;
}

.only-mobile {
	display: none!important;
}

hr {
	margin: 5em 0;
    border: none;
    height: 1px;
    background: #d5dedf;
}

iframe {
	  max-width: 100%;
	  border: 0;
    font: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

strong, b {
  	font-family: 'MontBold';
	font-weight: normal;
}

video {
	max-width: 100%;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1C2157;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #1C2157;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1C2157;
}
:-moz-placeholder { /* Firefox 18- */
  color: #1C2157;
}

/* ---------------------- AUFBAU ------------------------------- */

article {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

section {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 150px 0;
	clear: both;
	overflow: hidden;
}

.container {
  	width: 100%;
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
}


.wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}


/* ---------------------- CONTENT ------------------------------- */


p {
  margin: 1.2em 0 1.6em 0;
}

p:first-child {
	margin: 0 0 1.6em 0;
}

p:last-child {
	margin-bottom: 0;
}




section ul {
	margin: 2.2em 0 3em 0;
	padding: 0;
	list-style: none;
}

section ul:last-child {
	margin-bottom: 0;
}

section ul li {
	margin: 0 0 12px 19px;
  	line-height: 1.7em;
}


section ul li:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f111';
	font-size: 8px;
    width: 19px;
    margin-left: -19px;
	transform: translateY(-2px);
    display: inline-block;
    color: inherit;
    font-weight: 900;
}

section ol {
	margin: 2.2em 0 3em 0;
	padding: 0;
}

section ol li {
	margin: 0 0 12px 19px;
  	line-height: 1.7em;
}


/* ---------------------- Ćberschriften ------------------------------- */



h1 {
	font-family: 'LitSans';
	font-size: 2.7em;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0;
	color: #1C2157;
	margin: 2em 0 1em 0;
	position: relative;
	word-wrap: break-word;
}

h2,
p.header {
	font-family: 'LitSans';
	font-size: 2em;
	font-weight: 400;
	line-height: 1.2em;
	margin: 70px 0 25px 0;
	color: #1C2157;
  	word-wrap: break-word;
}

h2 + p.subtitle {
	font-size: 1em;
	margin-bottom: 60px;
}


h3 {
	font-family: 'LitSans';
  	font-size: 1.3em;
  	font-weight: 400;
  	padding: 0;
  	margin: 2.5em 0 1em 0;
  	line-height: 1.5em;
  	color: #1C2157;
  	word-wrap: break-word;
}

h4 {
	font-family: 'LitSans';
  	font-size: 1.1em;
  	font-weight: 400;
  	margin: 2.5em 0 0.9em 0;
}


h2:first-child, h2:first-of-type,
h3:first-child, h3:first-of-type,
h4:first-child,
p.header:first-child, p.header:first-of-type {
	margin-top: 0;
}


/* ---------------------- BUTTONS ------------------------------- */


a.action-button {
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    width: auto;
    max-width: 260px;
    height: 60px;
    /* background: #009ee2; */
    color: #fff;

    cursor: pointer;
    padding: 0 20px;
    margin: 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    position: relative;
  	overflow: hidden;
  	z-index: 1;
}

a.action-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #009ee2;
    z-index: -2;
}

a.action-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
	box-shadow: inset 0 0 0 1px #009ee2;
    transition: all .3s;
    z-index: -1;
}

a.action-button.dark::before {
    background-color: #1d1d1b;
	  box-shadow: inset 0 0 0 1px #009ee2;
}

a.action-button:hover {
    color: #009ee2;
}

a.action-button:hover::before {
    width: 100%;
}




a.weiterlesen {
	display: inline-block;
	color: #009ee2;
}

a.weiterlesen::before {
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	content: '\f105';
	font-size: 0.9em;
	font-weight: 900;
	margin-right: 9px;
	color: #009ee2;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

a.weiterlesen:hover::before {
	transform: translateX(4px);
}



/* ---------------------- GRIDS ------------------------------- */

.col {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-box-flex: 1;
          box-flex: 1;

  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1;

    margin: 0 30px;
}


.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
    overflow: hidden;
	  clear: both;
  	margin-bottom: 3.5em;
}


.column-40 {
  float: left;
  width: calc(40% - 40px);
  overflow: hidden;
}

.column-60 {
  float: left;
  width: calc(60% - 40px);
  overflow: hidden;
}

.column-30 {
  float: left;
  width: calc(30% - 40px);
  overflow: hidden;
}

.column-70 {
  float: left;
  width: calc(70% - 40px);
  overflow: hidden;
}


.column-40.right,
.column-30.right {
   margin: 0 0 0 40px;
}

.column-40.left,
.column-30.left {
  margin: 0 40px 0 0;
}

.column-60.right,
.column-70.right {
   margin: 0 0 0 40px;
}

.column-60.left,
.column-70.left {
  margin: 0 40px 0 0;
}





.grid-1:last-child, .grid-2:last-child, .grid-3:last-child, .grid-4:last-child, .grid-5:last-child {
  margin-bottom: 0;
}

.grid-2-50 .column {
    width: 50%;
    margin: 0;
}


.grid-2 .column {
  	float: left;
	width: calc(50% - 60px);
	overflow: hidden;
	margin: 0 0 0 60px;
}

.grid-2 .column:first-child {
	margin: 0 60px 0 0%;
}

.grid-2.ohne-margin .column,
.grid-2.ohne-margin .column:first-child {
	margin: 0;
	width: 50%;
}


.grid-3 .column:first-child {
	margin: 0 4% 0 0;
}

.grid-3 .column {
  	float: left;
	width: 29.333%;
	overflow: hidden;
	margin: 0 2% 0 2%;
}

.grid-3 .column:last-child {
	margin: 0 0 0 4%;
}





.grid-4 .column {
  	float: left;
	width: 22%;
	overflow: hidden;
	margin: 0 1.5% 0 1.5%;
}

.grid-5 .column {
  	float: left;
	width: 17%;
	overflow: hidden;
	margin: 0 1.5% 0 1.5%;
}

.grid-6 .column {
  float: left;
	width: 16.666%;
	overflow: hidden;
	margin: 0;
}

.grid-7 .column {
  float: left;
	width: 14,2857142%;
	overflow: hidden;
	margin: 0;
}






